﻿@{
    ViewData["Title"] = "Teleperformance";
    @using TP.Front.Application.Models;
}

<link rel="stylesheet" href="~/css/home.css" />

@model CustomerByDocumentModel;

@using (Html.BeginForm("SearchCustomer", "Teleperformance"))
{
<div class="div-table">
    <h2>
        Busqueda de clientes
    </h2>
    <br />
    <table>
        <tr>
            <td class="td-first">
                <b>Tipo de Documento</b>
            </td>
            <td>
                <b>Número de Documento</b>
            </td>
        </tr>
        <tr>
            <td>
                @Html.DropDownListFor(x => x.DocumentTypeCode, (IEnumerable<SelectListItem>)ViewBag.optionsDocumentTypes)
            </td>
            <td>
                @Html.TextBoxFor(x => x.DocumentNumber)
            </td>
        </tr>
    </table>
    <br />
    <button type="submit">Buscar</button>
</div>
}






