﻿@{
    ViewData["Title"] = "Crear Cliente";
    @using TP.Front.Application.Models;
}

<link rel="stylesheet" href="~/css/home.css" />

@model CreateCustomerModel

@using (Html.BeginForm("CreateCustomer", "Customer"))
{
<div class="div-table">
    <h2>
        Crear cliente
    </h2>
    <br />
    <table>
        <tr>
            <td class="td-first">
                <b>Nombre Completo</b>* <br />
                @Html.TextBoxFor(x => x.FullName)
            </td>
            <td>
                <b>Numero de Celular</b><br />
                @Html.TextBoxFor(x => x.PhoneNumber)
            </td>
        </tr>
        <tr>
            <td>
                <b>Tipo de Documento</b>* <br />
                @Html.DropDownListFor(x => x.DocumentTypeCode, (IEnumerable<SelectListItem>)ViewBag.optionsDocumentTypes)
            </td>
            <td>
                <b>Numero de Documento</b>* <br />
                @Html.TextBoxFor(x => x.DocumentNumber)
            </td>
        </tr>
        <tr>
            <td>
                <b>Ciudad</b>* <br />
                @Html.DropDownListFor(x => x.IdCity, (IEnumerable<SelectListItem>)ViewBag.optionsCities)
            </td>
            <td>
                <b>Fecha de Nacimiento</b>* <br />
                @Html.TextBoxFor(x => x.Birthday, new { type = "date" })
            </td>
        </tr>
    </table>
    <br />
    <button type="submit">Crear</button>
</div>
}
