﻿@{
    ViewData["Title"] = "Clientes";
    @using TP.Front.Application.Models;
    @using TP.Transverse.Models.Response.Customer;
}

<link rel="stylesheet" href="~/css/home.css" />

@model CustomerByFilterModel
@using (Html.BeginForm("GetAll", "Customer"))
{
    <table>
        <tr>
            <td>
                <b>Numero de Documento</b><br />
                @Html.TextBoxFor(x => x.DocumentNumber)
            </td>
            <td>
                <b>Ciudad</b><br />
                @Html.DropDownListFor(x => x.IdCity, (IEnumerable<SelectListItem>)ViewBag.optionsCities, "Seleccione")
            </td>
            <td>
                <b>Desde</b><br />
                @Html.TextBoxFor(x => x.From, new { type = "date" })
            </td>
            <td>
                <b>Hasta</b><br />
                @Html.TextBoxFor(x => x.Until, new { type = "date" })
                &nbsp; &nbsp;
                <button type="submit">Buscar</button>
            </td>
        </tr>
    </table>
}
<br />
<br />

<div class="">
    <table>
        <thead>
            <tr class="tr-header-table">
                <td><b>Nombre</b></td>
                <td><b>Tipo Documento</b></td>
                <td><b>No. Documento</b></td>
                <td><b>F. Nacimiento</b></td>
                <td><b>No. Celular</b></td>
                <td><b>Ciudad</b></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in (List<CustomerResponse>)ViewBag.customerModel.CustomerssModel)
            {
                <tr>
                    <td><a href="../Customer/Update?idCustomer=@customer.IdCustomer">@customer.FullName</a></td>
                    <td>@customer.DocumentTypeCode</td>
                    <td>@customer.DocumentNumber</td>
                    <td>@customer.Birthday.ToString("dd/MM/yyyy")</td>
                    <td>@customer.PhoneNumber</td>
                    <td>@customer.CityName</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />

<b>Edad promedio de Clientes:</b>
@ViewBag.customerModel.CustomersAverage?.OldAverage
    &nbsp; &nbsp;
<b>Personas menores de 20:</b>
@ViewBag.customerModel.CustomersAverage?.NumberYoungCustomers
    &nbsp; &nbsp;
<b>Personas mayores de 50:</b>
@ViewBag.customerModel.CustomersAverage?.NumberOldCustomers
