﻿@{
    ViewData["Title"] = "Actualizar Cliente";
    @using TP.Front.Application.Models;
}

<link rel="stylesheet" href="~/css/home.css" />

@model UpdateCustomerModel

@using (Html.BeginForm("UpdateCustomer", "Customer"))
{
<div class="div-table">
    <h2>
        Actualizar cliente
    </h2>
    <br />
    <table>
        <tr>
            <td class="td-first">
                <b>Nombre Completo</b><br />
                @ViewBag.Customer.FullName

            </td>
            <td>
                <b>Fecha de Nacimiento</b><br />
                @ViewBag.Customer.Birthday.ToString("dd/MM/yyyy")
            </td>
        </tr>
        <tr>
            <td>
                <b>Tipo de Documento</b><br />
                @ViewBag.Customer.DocumentTypeName
            </td>
            <td>
                <b>Numero de Documento</b><br />
                @ViewBag.Customer.DocumentNumber
            </td>
        </tr>
        <tr>
            <td>
                <b>Numero de Celular</b><br />
                @Html.TextBoxFor(x => x.PhoneNumber, new { @Value = ViewBag.Customer.PhoneNumber.ToString() })
            </td>
            <td>
                <b>Ciudad</b><br />
                @Html.DropDownListFor(x => x.IdCity, (IEnumerable<SelectListItem>)ViewBag.optionsCities)
            </td>
        </tr>
    </table>

    @Html.TextBoxFor(x => x.IdCustomer, new { hidden = "" })
    <br />
    <button type="submit">Actualizar</button>

    <br /><br />

    @Html.ActionLink("Crear PQR para este cliente", "Create", "PQR", new { idCustomer = @ViewBag.Customer.IdCustomer })
</div>
}
