﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Teleperformance</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/menu.css" />
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a asp-area="" asp-controller="Teleperformance" asp-action="Index">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c1/Teleperformance_logo.svg/1200px-Teleperformance_logo.svg.png" alt="logo" width="90%" height="100%">
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Teleperformance" asp-action="Index">Búsqueda</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Customer" asp-action="GetAll">Clientes</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="PQR" asp-action="GetAll">PQRs</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
