﻿@{
    ViewData["Title"] = "Crear PQR";
    @using TP.Front.Application.Models;
}

<link rel="stylesheet" href="~/css/home.css" />

@model CreatePQRModel

@using (Html.BeginForm("CreatePQR", "PQR"))
{
<div class="div-table">
    <h2>
        Crear PQR
    </h2>
    <br />
    <table>
        <tr>
            <td class="td-first">
                <b>Tipo de PQR</b>
                @Html.DropDownListFor(x => x.PQRTypeCode, (IEnumerable<SelectListItem>)ViewBag.optionsPQRTypes)
            </td>
        </tr>
        <tr class="lbl-table">
            <td>
                <b>Comentario</b><br />
            </td>
        </tr>
    </table>
    @Html.TextAreaFor(x => x.Comment, new { @class = "txt-area" })

    @Html.TextBoxFor(x => x.IdCustomer, new { hidden = "" })
    <br />
    <button type="submit">Crear</button>
</div>
}
