﻿@{
    ViewData["Title"] = "PQR";
    @using TP.Front.Application.Models;
}

<link rel="stylesheet" href="~/css/home.css" />

@model PQRModel
<div class="div-table">
    <h2>
        PQR
    </h2>
    <br />
    <table>
        <tr>
            <td class="td-first">
                <b>Cliente</b><br />
                <a href="../../Customer/Update?idCustomer=@Model.IdCustomer">@Model.FullNameCustomer</a>
            </td>
            <td>
                <b>Identificador</b><br />
                @Model.Identifier
            </td>
        </tr>
        <tr>
            <td>
                <b>Fecha de Creación</b><br />
                @Model.CreationDate.ToString("dd/MM/yyyy HH:mm:ss")
            </td>
            <td>
                <b>Tipo de PQR</b><br />
                @Model.PQRTypeName
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <b>Comentario</b><br />
                @Model.Comment
            </td>
        </tr>
    </table>
</div>