﻿@{
    ViewData["Title"] = "PQRs";
    @using TP.Front.Application.Models;
}

<link rel="stylesheet" href="~/css/home.css" />

@model PQRByFilterModel
@using (Html.BeginForm("GetAll", "PQR"))
{
    <table>
        <tr>
            <td>
                <b>Numero de Documento</b><br />
                @Html.TextBoxFor(x => x.DocumentNumber)
            </td>
            <td>
                <b>Ciudad</b><br />
                @Html.DropDownListFor(x => x.IdCity, (IEnumerable<SelectListItem>)ViewBag.optionsCities, "Seleccione")
            </td>
            <td>
                <b>Desde</b><br />
                @Html.TextBoxFor(x => x.From, new { type = "date" })
            </td>
            <td>
                <b>Hasta</b><br />
                @Html.TextBoxFor(x => x.Until, new { type = "date" })
                &nbsp; &nbsp;
                <button type="submit">Buscar</button>
            </td>
        </tr>
    </table>
}
<br />
<br />

<div class="div-table">
    <table>
        <thead>
            <tr class="tr-header-table">
                <td><b>Identificador</b></td>
                <td><b>Fecha Creación</b></td>
                <td><b>Comentario</b></td>
                <td><b>Cliente</b></td>
                <td><b>Tipo de PQR</b></td>
            </tr>
        </thead>
        <tbody>
            @foreach (var pqr in (List<PQRModel>)ViewBag.pqrmodel.PQRsModel)
            {
                <tr>
                    <td><a href="../PQR/Get?id=@pqr.Identifier">@pqr.Identifier</a></td>
                    <td>@pqr.CreationDate.ToString("dd/MM/yyyy HH:mm:ss")</td>
                    <td>@pqr.Comment</td>
                    <td><a href="../../Customer/Update?idCustomer=@pqr.IdCustomer">@pqr.FullNameCustomer</a></td>
                    <td>@pqr.PQRTypeName</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br />

<b>Edad promedio de Clientes:</b>
@ViewBag.pqrmodel.CustomersAverage?.OldAverage
    &nbsp; &nbsp;
<b>Personas menores de 20:</b>
@ViewBag.pqrmodel.CustomersAverage?.NumberYoungCustomers
    &nbsp; &nbsp;
<b>Personas mayores de 50:</b>
@ViewBag.pqrmodel.CustomersAverage?.NumberOldCustomers
